@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: hsl(217, 54%, 11%);
    height: 100vh;
    font-family: "outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    background: hsl(216, 50%, 16%);
    padding: 1rem;
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    gap: 1rem ;
}
.cube{
    height: 15rem;
    width: 100%;
    border-radius: 1rem;
}
.write h1{
   font-weight: 600;
   font-size: 22px; 
}
p{
    font-weight: 400;
    font-size: 18px;
    color:hsl(215, 51%, 70%);
}
.write{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
h3{
    color: hsl(178, 100%, 50%);
    font-size: 1rem;
}

.ethereum{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.clock{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.ec{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
hr{
    color: hsl(249, 80%, 30%); 
}

footer{
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Jules{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border-style: solid;
}

.wyvern{
    color: white;
    display: inline;
}
.cube:hover .cube {
    background: hsl(178, 100%, 50%);
}
